.modal-content {
    background-color: #f8f9fa; /* Cor de fundo */
    border: none; /* Remover borda */
    border-radius: 10px; /* Arredondar bordas */
}
.modal-header {
    border-bottom: none; /* Remover borda inferior do cabeçalho */
}
.modal-title {
    color: #0d6efd; /* Cor do título */
}
.modal-body {
    color: #6c757d; /* Cor do texto do corpo */
}
.modal-footer {
    border-top: none; /* Remover borda superior do rodapé */
}
